@import 'tailwindcss';

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased; /* For macOS Chrome/Safari */
  -moz-osx-font-smoothing: grayscale; /* For macOS Firefox */
}
